.form-group1{
    margin-left: 250px;
}
.filter{
    /* align-items: end; */
    /* margin-left: 500px; */
    margin-left: 500px;
}
.del {
    margin-left: 10px;
    background-color: red;
}
td:hover{
    transform: scale(1.02);
}
td{
    transition: ease(1.5s);
}
.form-group1 input{
    width: 30%;
    height: 30px;
    margin-top: 10px;
    border-radius: 10px;
    border:2px solid rgb(206, 206, 122);
}
.form-group1 input ::placeholder{
    margin-left: 20px;
}
.top{
    display: flex;
    align-items: end;
    width: 100%;
    gap:20px
}